body {
	background-image: url("../images/animalbackground.jpg");
	height: 100%;
}


.main-section {
	width: 100%;
	max-width: 500px;
	background-color: #ffffff;
	margin: 100px auto;
	padding: 40px;
}

