body {
	background-image: url("../images/animalbackground.jpg");
	height: 100%;
}


.main-section {
	width: 100%;
	max-width: 500px;
	background-color: #ffffff;
	margin: 100px auto;
	padding: 40px;
}

h1 {
	color: red;
}

#secret-word {
	margin:0;
	padding: 0;
	display: block;
}

#secret-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}

#lives {
	font-size: 14px;
	text-align: center;
	display: block;
}